By importing a CSV file:

In [2]:
import pandas as pd
df= pd.read_csv("weather_data.csv")  # by simply reading a csv/xl file
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

By using a Python Dictionary:

In [6]:
# we'll create a dictionary of all the data in the data frame (key:value); where each 'key' represents the column name 
# and the the 'value' represents the corresponding column values
weather_data= {"day":["1/1/2017","1/2/2017","1/3/2017","1/4/2017","1/5/2017","1/6/2017"],"temperature":[32,35,28,24,32,31],
               "windspeed":[6,7,2,7,4,2],"event":["Rain","Sunny","Snow","Snow","Rain","Sunny"]}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

By using a Tuple:

In [9]:
# here first we'll create a tuple (indicating all the rows in the data frame) 
weather_data= [("1/1/2017","32","6","Rain"),("1/2/2017","35","7","Sunny"),
               ("1/3/2017","28","2","Snow"),("1/4/2017","24","7","Snow"),
               ("1/5/2017","32","4","Rain"),("1/6/2017","31","2","Sunny")]
# The column names should be provided for each tuple values, at the time of creating a data frame
df=pd.DataFrame(weather_data, columns=["day","temperature","windspeed","event"])
df

        day temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/2/2017          35         7  Sunny
2  1/3/2017          28         2   Snow
3  1/4/2017          24         7   Snow
4  1/5/2017          32         4   Rain
5  1/6/2017          31         2  Sunny

By using a list of dict:

In [10]:
# we'll create a list, where each list element would represent a dict, and each dict has the column name as the key, and their corresponding values as the value
weather_data= [{"day": "1/1/2017", "temperature":"32", "windspeed":"6", "event":"Rain"},
              {"day": "1/2/2017", "temperature":"35", "windspeed":"7", "event":"Sunny"},
              {"day": "1/3/2017", "temperature":"28", "windspeed":"2", "event":"Snow"},
              {"day": "1/4/2017", "temperature":"24", "windspeed":"7", "event":"Snow"},
              {"day": "1/5/2017", "temperature":"32", "windspeed":"4", "event":"Rain"},
              {"day": "1/6/2017", "temperature":"31", "windspeed":"2", "event":"Sunny"}]
df =pd.DataFrame(weather_data)
df

        day temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/2/2017          35         7  Sunny
2  1/3/2017          28         2   Snow
3  1/4/2017          24         7   Snow
4  1/5/2017          32         4   Rain
5  1/6/2017          31         2  Sunny