In [20]:
import pandas as pd
df= pd.read_csv("FinancialSample1.csv")
df

,Segment,Country,Product,Units Sold,Manufacturing Price,Sale Price,Gross Sales
0,Government,Canada,Carretera,1681.0,3.0,20,32370.0
1,Government,NaN,Carretera,NaN,3.0,20,NaN
2,Midmarket,France,Carretera,1233.0,3.0,15,32670.0
3,Midmarket,Germany,Carretera,888.0,3.0,15,13320.0
4,Midmarket,Mexico,Carretera,2470.0,NaN,15,NaN
5,Government,Germany,Carretera,1513.0,3.0,350,25947.0
6,Midmarket,Germany,NaN,921.0,5.0,15,13815.0
7,Channel Partners,Canada,Montana,2518.0,5.0,12,NaN
8,Government,NaN,Montana,NaN,5.0,20,37980.0

In [21]:
new_df=df.fillna(0)   # the 'fillna()' method simply puts some value (here 0) in place of the missing value NaN
new_df

,Segment,Country,Product,Units Sold,Manufacturing Price,Sale Price,Gross Sales
0,Government,Canada,Carretera,1681.0,3.0,20,32370.0
1,Government,0,Carretera,0.0,3.0,20,0.0
2,Midmarket,France,Carretera,1233.0,3.0,15,32670.0
3,Midmarket,Germany,Carretera,888.0,3.0,15,13320.0
4,Midmarket,Mexico,Carretera,2470.0,0.0,15,0.0
5,Government,Germany,Carretera,1513.0,3.0,350,25947.0
6,Midmarket,Germany,0,921.0,5.0,15,13815.0
7,Channel Partners,Canada,Montana,2518.0,5.0,12,0.0
8,Government,0,Montana,0.0,5.0,20,37980.0

In [27]:
newdf_1 = df.fillna({"Country":"No loc","Product":"No prod found","Units Sold":0, "Manufacturing Price":0,"Gross Sales":0})
newdf_1

,Segment,Country,Product,Units Sold,Manufacturing Price,Sale Price,Gross Sales
0,Government,Canada,Carretera,1681.0,3.0,20,32370.0
1,Government,No loc,Carretera,NaN,3.0,20,NaN
2,Midmarket,France,Carretera,1233.0,3.0,15,32670.0
3,Midmarket,Germany,Carretera,888.0,3.0,15,13320.0
4,Midmarket,Mexico,Carretera,2470.0,NaN,15,NaN
5,Government,Germany,Carretera,1513.0,3.0,350,25947.0
6,Midmarket,Germany,NaN,921.0,5.0,15,13815.0
7,Channel Partners,Canada,Montana,2518.0,5.0,12,NaN
8,Government,No loc,Montana,NaN,5.0,20,37980.0